<!DOCTYPE html>
<html lang="en">
 

<head>
    <% include ../../partials/head %>
  <!-- NProgress -->
  <link href="/vendorsnprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- JQVMap -->
  <link href="/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
  <!-- bootstrap-daterangepicker -->
  <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <% include ../../partials/post_head %>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
      <% include ../../partials/sidebar %>
      <% include ../../partials/topnav %>

	  	
	   
    <!-- page content -->
    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="row tile_count">
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-money"></i> Gross Revenue</span>
			<% for ( var i = 0; i < 11; i++ ) {  %>
			  <% if(i == 0) { %>
			     <div id="<%= "grossRev" + i %>">
			  <% } else  {%>
				 <div id="<%= "grossRev" + i %>" style="display: none">	
			  <% } %>
				<% var month = i %>		
						<div class="count"><%= ganhos[month].grossRevenue %>€</div>
			    <% var diff = 200;     if(month > 0) { diff =  (ganhos[month].grossRevenue/ganhos[month-1].grossRevenue)*100 } if(diff > 100) {diff -= 100 }else {diff = -(100 - diff)} diff = Math.trunc(diff) %>
					<span class="count_bottom"><i class= <% if (diff > 0) {%> "green" <% }else {%> "red" <% } %> > <i class= <%  if (diff > 0) {%> "fa fa-sort-asc" <% }else {%> "fa fa-sort-desc" <% } %> > </i>    <%= diff %>% </i>  From last Month</span>
				</div>
				
			<% } %>
				
		</div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-money"></i> Net Revenue</span>
			<% for ( var i = 0; i < 11; i++ ) {  %>
			  <% if(i == 0) { %>
			     <div id="<%= "netRev" + i %>">
			  <% } else  {%>
				 <div id="<%= "netRev" + i %>" style="display: none">	
			  <% } %>
				<% var month = i %>		
						<div class="count"><%= ganhos[month].netRevenue %>€</div>
			    <% var diff = 200;     if(month > 0) { diff =  (ganhos[month].netRevenue/ganhos[month-1].netRevenue)*100 } if(diff > 100) {diff -= 100 }else {diff = -(100 - diff)} diff = Math.trunc(diff) %>
					<span class="count_bottom"><i class= <% if (diff > 0) {%> "green" <% }else {%> "red" <% } %> > <i class= <%  if (diff > 0) {%> "fa fa-sort-asc" <% }else {%> "fa fa-sort-desc" <% } %> > </i>    <%= diff %>% </i>  From last Month</span>
				</div>
				
			<% } %>
		  </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-shopping-bag"></i> Total Taxes</span>
          <% for ( var i = 0; i < 11; i++ ) {  %>
			  <% if(i == 0) { %>
			     <div id="<%= "taxes" + i %>">
			  <% } else  {%>
				 <div id="<%= "taxes" + i %>" style="display: none">	
			  <% } %>
				<% var month = i ; taxes = ganhos[month].grossRevenue - ganhos[month].netRevenue %>		
					<div class="count"><%= Math.trunc(taxes *100)/100 %>€</div>
					<% var diff = 200;     if(month > 0) { taxes1 = ganhos[month-1].grossRevenue - ganhos[month-1].netRevenue;  diff =  (taxes/taxes1)*100 } if(diff > 100) {diff -= 100 }else {diff = -(100 - diff)} diff = Math.trunc(diff) %>
					<span class="count_bottom"><i class= <% if (diff > 0) {%> "green" <% }else {%> "red" <% } %> > <i class= <%  if (diff > 0) {%> "fa fa-sort-asc" <% }else {%> "fa fa-sort-desc" <% } %> > </i>    <%= diff %>% </i>  From last Month</span>
				</div>
				
			<% } %>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i> Total Clients</span>
			<% for ( var i = 0; i < 11; i++ ) {  %>
			  <% if(i == 0) { %>
			     <div id="<%= "totalCli" + i %>">
			  <% } else  {%>
				 <div id="<%= "totalCli" + i %>" style="display: none">	
			  <% } %>
				<% var month = i %>		
						<div class="count"><%= ganhos[month].totalClients %> </div>
			    <% var diff = 200;     if(month > 0) { diff =  (ganhos[month].totalClients/ganhos[month-1].totalClients)*100 } if(diff > 100) {diff -= 100 }else {diff = -(100 - diff)} diff = Math.trunc(diff) %>
					<span class="count_bottom"><i class= <% if (diff > 0) {%> "green" <% }else {%> "red" <% } %> > <i class= <%  if (diff > 0) {%> "fa fa-sort-asc" <% }else {%> "fa fa-sort-desc" <% } %> > </i>    <%= diff %>% </i>  From last Month</span>
				</div>
				
			<% } %>
		</div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-money"></i> Gross Margin</span>
			<% for ( var i = 0; i < 11; i++ ) {  %>
			  <% if(i == 0) { %>
			     <div id="<%= "grossMar" + i %>">
			  <% } else  {%>
				 <div id="<%= "grossMar" + i %>" style="display: none">	
			  <% } %>
				<% var month = i %>		
						<div class="count"><%= ganhos[month].grossMargin %>€</div>
			    <% var diff = 200;     if(month > 0) { diff =  (ganhos[month].grossMargin/ganhos[month-1].grossMargin)*100 } if(diff > 100) {diff -= 100 }else {diff = -(100 - diff)} diff = Math.trunc(diff) %>
					<span class="count_bottom"><i class= <% if (diff > 0) {%> "green" <% }else {%> "red" <% } %> > <i class= <%  if (diff > 0) {%> "fa fa-sort-asc" <% }else {%> "fa fa-sort-desc" <% } %> > </i>    <%= diff %>% </i>  From last Month</span>
				</div>
				
			<% } %>
		  </div>
        
      </div>
      <!-- /top tiles -->

      <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="dashboard_graph">

            <div class="row x_title">
              <div class="col-md-6">
                <h3>Net Revenue vs Gross Revenue <small>For each Month</small></h3>
              </div>
              <div class="col-md-6">
                <div class="dropdown pull-right">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Month
					<span class="caret"></span>
					</button>
					<ul id="months" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<li id="jan"><a class="dropdown-item" href="#">Janeiro</a></li>
						<li id="fev"><a class="dropdown-item" href="#">Fevereiro</a></li>
						<li id="mar"><a class="dropdown-item" href="#">Março</a></li>
						<li id="abr"><a class="dropdown-item" href="#">Abril</a></li>
						<li id="maio"><a class="dropdown-item" href="#">Maio</a></li>
						<li id="jun"><a class="dropdown-item" href="#">Junho</a></li>
						<li id="jul"><a class="dropdown-item" href="#">Julho</a></li>
						<li id="ago"><a class="dropdown-item" href="#">Agosto</a></li>
						<li id="sep"><a class="dropdown-item" href="#">Setembro</a></li>
						<li id="out"><a class="dropdown-item" href="#">Outubro</a></li>
						<li id="nov"><a class="dropdown-item" href="#">Novembro</a></li>
						<li id="dez"><a class="dropdown-item" href="#">Dezembro</a></li>
					</ul>
				</div>
              </div>
            </div>
            <div class="col-md-10 col-xs-12 col-sm-12">
              <div style="width: 100%">
                <canvas id="canvas"></canvas>
              </div>

            </div>
            <div class="col-md-2 col-xs-12 col-sm-12 labels" >
              <div class="first-label">
                <span class="red-label"></span> Gross Revenue
              </div>
              <div>
                <span class="green-label"></span> Net Revenue
              </div>


            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>
      <br />

      <div class="row">


        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile fixed_height_320">
            <div class="x_title">
              <h2>Gross Margin vs Net Revenue <small>For each Month</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-xs-12">
                <div style="width: 100%">
                  <canvas id="canvas1"></canvas>
                </div>


              </div>
              <div class="col-xs-12 labels-bottom" >
                <div>
                  <span class="green-label"></span> Net Revenue
                </div>
                <div>
                  <span class="blue-label"></span> Gross-Margin
                </div>


              </div>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel tile fixed_height_320 overflow_hidden">
            <div class="x_title">
              <h2>Gross Margin  <small>For each top client</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-xs-12">
                <div style="width: 100%">
                  <canvas id="canvas2"></canvas>
                </div>

                
              </div>
              <div class="col-xs-12 labels-bottom" >
                <div>
                  <span class="green-label"></span> Net Revenue
                </div>
                <div>
                  <span class="blue-label"></span> Gross-Margin
                </div>


              </div>
            </div>
          </div>
        </div>




      </div>



        <div class="col-md-8 col-sm-8 col-xs-12" style="height: 800px">



          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="panel panel-body">
                <div class="x_title">
                  <h4>Objective's progress / History </h4>
                </div>

                <div class="row">
                  <div class="col-xs-12" style="text-align: center;">
                    <h5><strong>December</strong></h5>
                  </div>
                  <div class="col-xs-4" >
                    <h5>Net Revenue:</h5>
                    <span class="chart" data-percent="86">
                                              <span class="percent"></span>
                              </span>
                  </div>
                  <div class="col-xs-4">
                    <h5>Gross Margin:</h5>
                    <span class="chart" data-percent="73">
                                              <span class="percent"></span>
                              </span>
                  </div>
                  <div class="col-xs-4">
                    <h5>Total Sales:</h5>
                    <span class="chart" data-percent="60">
                                              <span class="percent"></span>
                              </span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                
              </div>

            </div>

          </div>
          <div class="row">




          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->

  </div>
</div>

<% include ../../partials/footer %>



<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/vendors/Flot/jquery.flot.js"></script>
<script src="/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/vendors/Flot/jquery.flot.time.js"></script>
<script src="/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/vendors/moment/min/moment.min.js"></script>
<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- easy-pie-chart -->
<script src="/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

<script>	
	
$(document).ready(function() {
 

	$("#jan").on('click', 'a', function() {
		hide();
		show(0);
	});
	
	$("#fev").on('click', 'a', function() {
		hide();
		show(1);
	});
	
	$("#mar").on('click', 'a', function() {
		hide();
		show(2);
	});
	
	$("#abr").on('click', 'a',  function() {
		hide();
		show(3);
	});
	
	$("#maio").on('click', 'a', function() {
		hide();
		show(4);
	});
	
	$("#jun").on('click', 'a', function() {
		hide();
		show(5);
	});
	
	$("#jul").on('click', 'a', function() {
		hide();
		show(6);
	});
	
	$("#ago").on('click', 'a', function() {
		hide();
		show(7);
	});
	
	$("#sep").on('click', 'a', function() {
		hide();
		show(8);
	});
	
	$("#out").on('click', 'a', function() {
		hide();
		show(9);
	});
	
	$("#nov").on('click', 'a', function() {
		hide();
		show(10);
	});
	
	$("#dez").on('click', 'a', function() {
		hide();
		show(11);
	});
});	
 
	
	

 



function hide() {
	
	
	for(var i = 0; i < 12; i++) {
		var tc = "#totalCli" + i;
		var t = "#taxes" + i;
		var nt = "#netRev" + i;
		var gt = "#grossRev" + i;
		var gm = "#grossMar" + i;	
		
		$(tc).css("display", "none");
		$(t).css("display", "none");
		$(nt).css("display", "none");
		$(gt).css("display", "none");
		$(gm).css("display", "none");	
	}
	
	
}


function show(  i) {
	
	var tc = "#totalCli" + i;
	var t = "#taxes" + i;
	var nt = "#netRev" + i;
	var gt = "#grossRev" + i;
	var gm = "#grossMar" + i;	
		
	$(tc).css("display", "block");
	$(t).css("display", "block");
	$(nt).css("display", "block");
	$(gt).css("display", "block");
	$(gm).css("display", "block");
	

}
</script>


<script>
					
 

					
					
                    var randomScalingFactor = function() {
                        return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
                    };
                    var randomColorFactor = function() {
                        return Math.round(Math.random() * 255);
                    };

                    var barChartData = {
                        labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
                        datasets: [{
                            type: 'bar',
                            label: 'Net Revenue',
                            backgroundColor: "rgba(30,230,30,0.7)",
                            data: [<%= ganhos[0].netRevenue %>, <%= ganhos[1].netRevenue %>, <%= ganhos[2].netRevenue %>, <%= ganhos[3].netRevenue %>, <%= ganhos[4].netRevenue %>, <%= ganhos[5].netRevenue %>, <%= ganhos[6].netRevenue %>, <%= ganhos[7].netRevenue %>, <%= ganhos[8].netRevenue %>, <%= ganhos[9].netRevenue %>, <%= ganhos[10].netRevenue %>, <%= ganhos[11].netRevenue %>],
                            borderColor: 'white',
                            borderWidth: 2
                        }, /*{
                                    type: 'line',
                                    label: 'Dataset 2',
                                    backgroundColor: "rgba(0,255,0,1)",
                                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()],
                                    borderColor: 'white',
                                    borderWidth: 2
                                }, */{
                            type: 'bar',
                            label: 'Gross Revenue',
                            backgroundColor: "rgba(230,30,30,0.7)",
                            data: [<%= ganhos[0].grossRevenue %>, <%= ganhos[1].grossRevenue %>, <%= ganhos[2].grossRevenue %>, <%= ganhos[3].grossRevenue %>, <%= ganhos[4].grossRevenue %>, <%= ganhos[5].grossRevenue %>, <%= ganhos[6].grossRevenue %>, <%= ganhos[7].grossRevenue %>, <%= ganhos[8].grossRevenue %>, <%= ganhos[9].grossRevenue %>, <%= ganhos[10].grossRevenue %>, <%= ganhos[11].grossRevenue %>]
                        }, ]

                    };

                    var barChartData1 = {
                        labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
                        datasets: [{
                            type: 'bar',
                            label: 'Net Revenue',
                            backgroundColor: "rgba(30,230,30,0.7)",
                            data: [<%= ganhos[0].netRevenue %>, <%= ganhos[1].netRevenue %>, <%= ganhos[2].netRevenue %>, <%= ganhos[3].netRevenue %>, <%= ganhos[4].netRevenue %>, <%= ganhos[5].netRevenue %>, <%= ganhos[6].netRevenue %>, <%= ganhos[7].netRevenue %>, <%= ganhos[8].netRevenue %>, <%= ganhos[9].netRevenue %>, <%= ganhos[10].netRevenue %>, <%= ganhos[11].netRevenue %>],
                            borderColor: 'white',
                            borderWidth: 2
                        }, {
                            type: 'line',
                            label: 'Dataset 2',
                            backgroundColor: "white",
                            data: [<%= ganhos[0].grossMargin * ganhos[0].netRevenue  %>, <%= ganhos[1].grossMargin * ganhos[1].netRevenue %>, <%= ganhos[2].grossMargin * ganhos[2].netRevenue %>, <%= ganhos[3].grossMargin * ganhos[3].netRevenue %>, <%= ganhos[4].grossMargin * ganhos[4].netRevenue %>, <%= ganhos[5].grossMargin * ganhos[5].netRevenue %>, <%= ganhos[6].grossMargin * ganhos[6].netRevenue %>, <%= ganhos[7].grossMargin * ganhos[7].netRevenue%>, <%= ganhos[8].grossMargin * ganhos[8].netRevenue %>, <%= ganhos[9].grossMargin * ganhos[9].netRevenue %>, <%= ganhos[10].grossMargin * ganhos[10].netRevenue %>, <%= ganhos[11].grossMargin * ganhos[11].netRevenue%>],
                            borderColor: "rgba(30,30,230,0.7)",
                            borderWidth: 2
                        }, ]

                    };

			
                    var barChartData2 = {
										
                        labels: ["<%= ganhos[0].ganhosDeClientes[0].nome %>", "<%= ganhos[0].ganhosDeClientes[1].nome %>", "<%= ganhos[0].ganhosDeClientes[2].nome %>", "<%= ganhos[0].ganhosDeClientes[3].nome %>", "<%= ganhos[0].ganhosDeClientes[4].nome %>", "<%= ganhos[0].ganhosDeClientes[5].nome %>", "<%= ganhos[0].ganhosDeClientes[6].nome %>", "<%= ganhos[0].ganhosDeClientes[7].nome %>"],
                        datasets: [{
                            type: 'bar',
                            label: 'Net Revenue',
                            backgroundColor: "rgba(30,230,30,0.7)",
                            data: [<%= ganhos[0].ganhosDeClientes[0].GrossMargin %>, <%= ganhos[0].ganhosDeClientes[1].GrossMargin %>, <%= ganhos[0].ganhosDeClientes[2].GrossMargin %>, <%= ganhos[0].ganhosDeClientes[3].GrossMargin %>, <%= ganhos[0].ganhosDeClientes[4].GrossMargin %>, <%= ganhos[0].ganhosDeClientes[5].GrossMargin %>, <%= ganhos[0].ganhosDeClientes[6].GrossMargin %>, <%= ganhos[0].ganhosDeClientes[7].GrossMargin %>],
                            borderColor: 'white',
                            borderWidth: 2
                        } ]

                    };
                    window.onload = function() {
                        var ctx = document.getElementById("canvas").getContext("2d");
                        var ctx1 = document.getElementById("canvas1").getContext("2d");
                        var ctx2 = document.getElementById("canvas2").getContext("2d");
                        window.myBar = new Chart(ctx1, {
                            type: 'bar',
                            data: barChartData1,
                            options: {
                                responsive: true,
                                title: {
                                    display: true,

                                }
                            }
                        });
                        window.myBar = new Chart(ctx, {
                            type: 'bar',
                            data: barChartData,
                            options: {
                                responsive: true,
                                title: {
                                    display: true,

                                }
                            }
                        });
                        window.myBar = new Chart(ctx2, {
                            type: 'bar',
                            data: barChartData2,
                            options: {
                                responsive: true,
                                title: {
                                    display: true,

                                }
                            }
                        });

                    };

                    $('#randomizeData').click(function() {
                        $.each(barChartData.datasets, function(i, dataset) {
                            dataset.backgroundColor = 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
                            dataset.data = [0, 0, 0, r0, randomScalingFactor(), randomScalingFactor(), randomScalingFactor()];

                        });
                        window.myBar.update();
                    });
					

                </script>



<% include ../../partials/post_footer %>
</body>


</html>

